* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    background-color: grey;
    margin: 0 auto;
}

div.left {
    background: url('../assets/bg-left2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
}

div.right {
    background: #2D5F9A;
    width: 50vw;
    height: 100vh;
}
/***************/

div#botoes {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#botoes a {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 30% 10%;
    margin-top: 45%;
    border-radius: 16px;  
    background-color: #F2F2F2 !important;
    border: none;
}

button:hover{
    padding: 30% 10%;
    margin-top: 45%;
    border-radius: 16px;  
    background-color: #851c1c !important;
    border: none;
}

button a{
    text-decoration: none;
}