@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/**** Gerais *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: inline-flex;
    font-family: 'Open Sans', sans-serif;
}

/***** Divisória Esquerda e Direita *******/

div.left {
    background: url('../assets/bg-left2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50vw;
}

div.right {
    background: #2D5F9A;
    width: 50vw;
    height: 100vh;
}

/****************/

div.left img {
    width: 65%;
    margin: 15% 17%;
}

h3 {
    text-align: center;
    font-size: 28px;
    color: #0080c5;
    margin-bottom: 20px;
}

/******* BOTÕES ********/

.container {
    width: 90%;
    height: 100%;
    /* background-color: red; */
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.btn {
    min-width: 150px;
    /* max-width: 150px; */
}

.btn {
    padding: 60px 20px;
    margin: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #004e78;
    color: #004e78;
}
.btn:hover {
    background-color: #004e78;
    color: white;
    border: 1px solid white;
}

/********* MEDIA QUERIES *********/

@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    div.left, div.right {
        width: 100vw;
    }

    div.right {
        height: 920px;
    }

    .btn {
        padding: 30px 10px; 
        min-width: 90vw;
        font-size: 14px;
    }

    h3 {
        font-size: 20px;
    }
}
  