@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    text-align: center;
    background: url('https://www.treehugger.com/thmb/Td6BxnyicFhf_Hst3i0dhTZmMss=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/closeupbrightbluewater-61f0f88d81004729a7385484bcd38998.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    font-family: 'Open Sans', 'Poppins', sans-serif;
    margin-top: 10px;
    padding-bottom: 20px;
}

header img {
    width: 120px;
}

hr{
    width: 80%;
    margin: 0 auto;
}

h1#main-title{
    color: white;
    font-size: 34px;
}

h3#data-att{
    color: white;
    font-size: 18px;
    padding-top: 10px;
}

table {
    margin: 0 auto;
    width: 90vw;
    background-color: rgba(245, 245, 245, 0.90);
}

td:hover, tr:hover {
    background: white;
}

table, th, td {
    border: 1px solid rgba(166, 166, 166, 0.629);
    border-collapse: collapse;
}

th {
    background-color: #007fcb;
    color: white;
    padding: 10px;
}

td {
    padding: 5px;
}

td.numero {
    background: rgba(228, 228, 228, 0.35);
}

a.voltar{
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    background-color: rgba(245, 245, 245, 0.90);
    color: black;
    border-radius: 8px;
    border: 1px solid rgba(212, 212, 212, 0.5);
}

a.voltar:hover {
    background-color: #004e78;
    color: white;
    border: 1px solid white;
}

/**** MEDIA QUERIES ****/

@media (max-width: 768px){
    header img {
        width: 80px !important;
    }
}